version: '3.4'

services:
  app:
    container_name: slaq
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "../:/app"
    env_file: ../.env
    environment:
      REDIS_URL: redis://redis:6379
    depends_on:
      - redis
  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
